.container {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    padding: 10px;
}

.image {
    width: 30%;
    height: 100px;
    margin-right: 20px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0  0 10px 0;
}

.textLine {
    margin: 5px 0;
}
  